gnome-terminal
scapy
python3


gnome:
set windows to only on click to disable the gnome-terminal overlap on start and stop
## to set on click in installation setup bash file.


func chart:
https://lucid.app/lucidchart/1ff6787f-8fb2-4eff-b555-9a07e8fb177f/edit?invitationId=inv_6c476502-171a-4b8e-939c-7f616ca6f02f&page=0_0#


spalsh

https://www.youtube.com/watch?v=Y1NXYyBIs9A&t=111s

omxplayer


on off switch:
https://www.google.com/search?q=raspberry+pi+on+off+switch&rlz=1C1CHBD_enDK913DK913&oq=raspberry+pi+on+off+swi&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIICAIQABgWGB4yCAgDEAAYFhgeMggIBBAAGBYYHjIKCAUQABgKGBYYHjIICAYQABgWGB4yCggHEAAYChgWGB4yCAgIEAAYFhgeMggICRAAGBYYHtIBCDQ5NDRqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:ca98d3a3,vid:h6GFXtKkXco,st:0

hardware:

## Display cable for raspberry pi 5
https://raspberrypi.dk/en/product/raspberry-pi-display-cable/






4,3" DSI LCD
https://raspberrypi.dk/en/product/43-dsi-lcd-display/
Desc:
res: 800x480




raspberry pi model:
https://raspberrypi.dk/en/product/raspberry-pi-4-model-b-8-gb/

TP-Link TL-WN722N 
https://www.proshop.dk/Netvaerksadapter-netkort-printserver-mv/TP-Link-TL-WN722N-150Mbps-High-Gain-Wireless-USB-Adapter/2225730?utm_source=google&utm_medium=cpc&utm_campaign=searchengine&gad_source=1&gclid=Cj0KCQiAvP-6BhDyARIsAJ3uv7YSVrWzhdKa6AQMZixiK6OBV4nJ2QXufjhyZ2xP8wxxEJPRNuEDwScaAsaxEALw_wcB

Pi juice:
https://www.elfadistrelec.dk/da/pijuice-ups-hat-til-raspberry-pi-pi-supply-pis-0212/p/30163344?ext_cid=shgooaqdkda-PerformanceMax-GoogleCSS&gad_source=1&gclid=Cj0KCQiAvP-6BhDyARIsAJ3uv7Y1P0K77HeW2ykW5eERYS7PPRJk7hItqNdHppJ-xu_1wOvpszkkJlQaAnNTEALw_wcB&gclsrc=aw.ds

PiJuice 12000mAh Batteri
https://raspberrypi.dk/produkt/pijuice-12000mah-batteri/
